$name: "odin-projects";

.#{$name}-container{
    display:flex;
    flex-direction:column;
    height: 100vh;
    background: linear-gradient(to left,#59C173, #a17fe0, #5D26C1);
}
.#{$name}-header{
    border: solid 1px black;
    flex: 0.2;
    .odin-projects-header-navbar{
        display:flex;
        flex-direction:row;
        .odin-projects-header-elements{
            flex: 1;
            text-align:center;
            padding: 10px;
            &:hover{
                background-color: rgba(0,0,0,0.3);
                color: white;
            }
        }
        
    }
    .odin-projects-header-title{
        text-align:center;
        margin-top: 40px;
        font-size: 30pt;
    }
}
.#{$name}-body{
    flex: 0.7;
    display:flex;
    flex-direction: row;
    overflow: scroll;
    .#{$name}-body-left{
        flex: 0.2;
    }
    .#{$name}-body-mid{
        border: solid 1px black;
        border-radius: 20px;
        flex: 0.6;
        overflow: scroll;
        .#{$name}-body-mid-project{
            text-align: center;
            height: 100px;
            font-size: 20pt;
            padding-top: 30px;
            box-sizing: border-box;
            &:hover{
                border: outset 5px lightblue;
                cursor: pointer;
            }
            &:active{
                border: inset 5px lightblue;
                color: darkblue;
                background-color: rgba(0,0,0,0.2);
            }
        }
    }
    .#{$name}-body-right{
        flex: 0.2;
    }
}
.#{$name}-footer{
    border: solid 1px black;
    flex: 0.1;
}