.signin-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    border: solid 1px black;
}
.section1{
    flex: 0.1;
}
.section2{
    flex: 0.7;
    display:flex;
    flex-direction: row;
}
.subsection1{
    flex: 0.2;
}
.signup{
    flex: 0.6;
    border: solid 1px black;
}
.subsection2{
    flex: 0.2;
}
#form-title{
    text-align:center;
}
.name{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
#last-name{
    flex: 0.5;
    display:flex;
    padding-left: 10px;
    justify-content: left;
}
#first-name{
    display:flex;
    padding-right: 10px;
    justify-content: right;
    flex: 0.5;
}
.email{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
#email-input{
    width: 23em;
}
.personal-info{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.dob{
    margin-top: 20px;
    flex: 0.5;
    display:flex;
    justify-content: right;
    padding-right: 10px;
}
.gender{    
    margin-top: 20px;
    flex: 0.5;
    display:flex;
    justify-content: left;
    padding-left: 10px;
}

/* div */
.street-address{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
/* input */
#street-address{
    width: 23em;
}
.city{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
#city{
    width: 23em;
}
.country{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}
#country{
    width: 23em;
}
.section3{
    flex: 0.2;
}
.submit{
    margin-top: 25px;
    display:flex;
    justify-content: center;
}
#submit{
    cursor: pointer; 
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

.password-info{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.password{
    margin-top: 20px;
    flex: 0.5;
    display:flex;
    justify-content: right;
    padding-right: 10px;
}

.password-confirmation{
    margin-top: 20px;
    flex: 0.5;
    display:flex;
    justify-content: left;
    padding-left: 10px;
}
